<!-- component -->
<div class="my- mr-2 ml-2 mt-2 flex items-center justify-center py-3 bg-indigo-900 rounded-lg w-full">

  <!-- navbar -->

  <div class="ml-2 flex space-x-5">
    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400 ">Inicio
    </div>
    <!--Sub Menú Archivo-->
    <div class="relative mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">
      <div (click)="toggleSubMenuArchivo($event)" class="inline-block cursor-pointer">
        Archivo


        <div *ngIf="openSubMenuArchivo" class="absolute left-0 mt-2 w-48 bg-white shadow-md z-10">
          <div class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
            <!--Sub sub Menú Nuevo Grafo-->
            <div (click)="toggleNuevoGrafoSubMenu($event)" class="cursor-pointer text-black">
              <div class="flex items-center">
                <span>Nuevo Grafo</span>
                <span class="ml-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                    height="16">
                    <path d="M9 6l6 6-6 6" />
                  </svg>
                </span>
              </div>
            </div>
            <div *ngIf="isNuevoGrafoSelected"
              class="absolute left-full top-relative mt-0 ml-2 w-48 bg-white shadow-md z-10">
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Personalizado</span></span>
              <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Aleatorio</span></a>
            </div>
          </div>
          <!--Fin sub sub menu nuevo Grafo-->
          <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200" (click)="fileInput.click()">Abrir</span>
          <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">

          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cerrar</a>
          <hr class="border-t border-gray-300">
          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
              <circle cx="12" cy="12" r="10" />
            </svg>
            <span class="ml-2">Guardar</span>
          </a>
          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
              <circle cx="12" cy="12" r="10" />
            </svg>
            <span class="ml-2">Guardar Como</span>
          </a>
          <hr class="border-t border-gray-300">
          <div class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
            <!--Sub sub Menú Exportar Datos-->
            <div (click)="toggleExportarDatosSubMenu($event)" class="cursor-pointer text-black">
              <div class="flex items-center">
                <span>Exportar Datos</span>
                <span class="ml-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                    height="16">
                    <path d="M9 6l6 6-6 6" />
                  </svg>
                </span>
              </div>
            </div>

            <div *ngIf="isExportarDatosSelected"
              class="absolute left-full top-relative mt-0 ml-2 w-48 bg-white shadow-md z-10">
              <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Excel</span></a>
              <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Imagen</span></a>
            </div>
          </div>
          <div class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
            <div (click)="toggleEImportarDatosSubMenu($event)" class="cursor-pointer text-black">
              <div class="flex items-center">
                <span>Importar Datos</span>
                <span class="ml-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                    height="16">
                    <path d="M9 6l6 6-6 6" />
                  </svg>
                </span>
              </div>
            </div>
            <div *ngIf="isImportarDatosSelected"
              class="absolute left-full top-relative mt-0 ml-2 w-48 bg-white shadow-md z-10">
              <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Archivo .txt</span></a>
            </div>
          </div>
          <hr class="border-t border-gray-300">
          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Salir</a>
        </div>
        <!--Fin sub menú Archivo-->
      </div>
    </div>
    <!--Fin Archivo-->
    <!--Editar-->
    <div class="relative mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">
      <div (click)="toggleSubMenuEditar($event)" class="inline-block cursor-pointer">
        Editar
        <div *ngIf="openSubMenuEditar" class="absolute left-0 mt-2 w-48 bg-white shadow-md z-10">
          <div class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
            <span>Deshacer</span>
          </div>
          <div (click)="toggleSubSubMenuNodo($event)" class="cursor-pointer text-black">
            <div class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
              <span>Nodo</span>
              <span class="ml-auto">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                  <path d="M9 6l6 6-6 6" />
                </svg>
              </span>
            </div>
          </div>
          <div *ngIf="isNodoSelected" class="absolute left-full top-relative mt-0 ml-2 w-48 bg-white shadow-md z-10">
            <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" />
              </svg>&nbsp;<span>Agregar</span>
            </span>
            <div (click)="toggleNodoEditarSubMenu($event)" class="cursor-pointer text-black">
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Editar</span>
                <span class="ml-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                    height="16">
                    <path d="M9 6l6 6-6 6" />
                  </svg>
                </span>
              </span>
            </div>
            <div *ngIf="isNodoEditarSelected"
              class="absolute left-full top-relative mt-0 ml-2 w-48 bg-white shadow-md z-10">
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Color</span>
              </span>
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Etiqueta</span>
              </span>
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Valor</span>
              </span>
            </div>
            <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" />
              </svg>&nbsp;<span>Eliminar</span>
            </span>
          </div>
          <div (click)="toogleSubSubMenuArco($event)" class="cursor-pointer text-black">
            <div class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
              <span>Arco</span>
              <span class="ml-auto">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                  <path d="M9 6l6 6-6 6" />
                </svg>
              </span>
            </div>
          </div>
          <div *ngIf="isArcoSelected" class="absolute left-full top-relative mt-0 ml-2 w-48 bg-white shadow-md z-10">
            <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" />
              </svg>&nbsp;<span>Agregar</span>
            </span>
            <div (click)="toggleArcoEditarSubMenu($event)" class="cursor-pointer text-black">
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Editar</span>
                <span class="ml-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                    height="16">
                    <path d="M9 6l6 6-6 6" />
                  </svg>
                </span>
              </span>
            </div>
            <div *ngIf="isArcoEditarSelected"
              class="absolute left-full top-relative mt-0 ml-2 w-48 bg-white shadow-md z-10">
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Tipo de Línea</span>
              </span>
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Color</span>
              </span>
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Peso</span>
              </span>
            </div>
            <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                <circle cx="12" cy="12" r="10" />
              </svg>&nbsp;<span>Eliminar</span>
            </span>
          </div>

        </div>
      </div>
    </div>
    <!--Fin editar-->
    <!--Ejecutar-->
    <div class="relative mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">
      <div (click)="toggleSubMenuEjecutar($event)" class="inline-block cursor-pointer">
        <span>Ejecutar</span>
        <div *ngIf="openSubMenuEjecutar" class="absolute left-0 mt-2 w-48 bg-white shadow-md z-10">
          <div (click)="toogleSubSubMenuProceso($event)" class="cursor-pointer text-black">
            <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
              <span>Proceso</span>
              <span class="ml-auto">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                  <path d="M9 6l6 6-6 6" />
                </svg>
              </span>
            </span>
            <div *ngIf="isProcesoSelected"
              class="absolute left-full top-relative mt-0 ml-2 w-48 bg-white shadow-md z-10">
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Proceso 1</span>
              </span>
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Proceso 2</span>
              </span>
              <span class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                  <circle cx="12" cy="12" r="10" />
                </svg>&nbsp;<span>Proceso 3</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Fin Ejecutar-->

    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">
      Herramientas</div>
    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">Ventana
    </div>
    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">Ayuda
    </div>
  </div>
</div>
<div class="flex">
  <app-sidemenu />
  <div class="text-black flex-grow p-6 overflow-auto  bg-gray-200 w-screen ">
    <router-outlet />
  </div>

</div>