<!-- component -->
<div class="my- mr-2 ml-2 mt-2 flex items-center justify-center py-3 bg-indigo-900 rounded-lg w-full">

  <!-- navbar -->

  <div class="ml-2 flex space-x-5" (click)="closeSubMenu">
    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400 ">Inicio
    </div>
    <div class="relative mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">
      <div (click)="toggleSubMenu($event)" class="inline-block cursor-pointer">
        Archivo
        <!--Sub Menú Archivo-->

        <div *ngIf="openSubMenu" class="absolute left-0 mt-2 w-48 bg-white shadow-md z-10">
          <div class="block px-4 py-2 text-gray-800 hover:bg-gray-200">
            <div (click)="toggleNuevoGrafoSubMenu($event)" class="cursor-pointer text-black">
              <div class="flex items-center">
                <span>Nuevo Grafo</span>
                <span class="ml-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16"
                    height="16">
                    <path d="M9 6l6 6-6 6" />
                  </svg>
                </span>
              </div>
            </div>
            <div *ngIf="isNuevoGrafoSelected" class="absolute left-full top-0 mt-0 ml-2 w-48 bg-white shadow-md z-10">
              <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Personalizado</a>
              <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Aleatorio</a>
            </div>
          </div>

          <!--Sub sub Menú Nuevo Grafo-->

          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Abrir</a>
          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cerrar</a>
          <hr class="border-t border-gray-300">
          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
              <circle cx="12" cy="12" r="10" />
            </svg>
            <span class="ml-2">Guardar</span>
          </a>
          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
              <circle cx="12" cy="12" r="10" />
            </svg>
            <span class="ml-2">Guardar Como</span>
          </a>
          <hr class="border-t border-gray-300">
          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Exportar Datos</a>
          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Importar Datos</a>
          <hr class="border-t border-gray-300">
          <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Salir</a>

        </div>
      </div>
    </div>

    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">Editar
    </div>

    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">Ejecutar
    </div>

    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">
      Herramientas</div>
    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">Ventana
    </div>
    <div class="mb-1 text-l text-white font-bold duration-300 hover:scale-105 hover:border-b-4 border-red-400">Ayuda
    </div>
  </div>
</div>
<div class="flex">
  <app-sidemenu />
  <div class="text-black flex-grow p-6 overflow-auto  bg-gray-200 w-screen ">
    <router-outlet />
  </div>

</div>